script = '''
square = \v
    v * v

match = \v
    v is
        2
            5 | square

"result is {2 | match}"
'''

[output]
result = "result is 25"
type = "string"

[output.compiler]
bytecode = "[35, 6, 115, 113, 117, 97, 114, 101, 1, 0, 66, 35, 5, 109, 97, 116, 99, 104, 1, 0, 80, 36, 4, 109, 97, 105, 110, 37, 0, 1, 21, 0, 37, 1, 1, 21, 1, 28, 10, 114, 101, 115, 117, 108, 116, 32, 105, 115, 32, 27, 0, 0, 0, 2, 39, 1, 0, 1, 5, 109, 97, 116, 99, 104, 14, 38, 36, 6, 115, 113, 117, 97, 114, 101, 20, 0, 20, 0, 3, 38, 36, 5, 109, 97, 116, 99, 104, 20, 0, 27, 0, 0, 0, 2, 17, 44, 0, 16, 27, 0, 0, 0, 5, 39, 1, 1, 0, 6, 115, 113, 117, 97, 114, 101, 38]"
bytecode_length = 115
disassembled = """
0 \tfunction signature (name: square) (local count: 1) (function position: 66)
11 \tfunction signature (name: match) (local count: 1) (function position: 80)

21 \t=== function chunk: main ===
27 \tfunction (function index: 0) (params: 1)
30 \tset_value (index: 0)
32 \tfunction (function index: 1) (params: 1)
35 \tset_value (index: 1)
37 \tpush_string (value: 'result is ')
49 \tpush_integer (value: 2)
54 \tcall match (is_global: 0) (arg count: 1, function index: 1)
64 \tstr_concat
65 \tret

66 \t=== function chunk: square ===
74 \tget_value (index: 0)
76 \tget_value (index: 0)
78 \tint_mult
79 \tret

80 \t=== function chunk: match ===
87 \tget_value (index: 0)
89 \tpush_integer (value: 2)
94 \teq
95 \tjump if false (offset: 16, to byte 114)
98 \tpush_integer (value: 5)
103 \tcall square (is_global: 1) (arg count: 1, function index: 0)
114 \tret
"""

[output.vm]
bytes_read = 116
instructions_executed = 23
jumps_performed = 0
max_stack_height = 7
stack_allocations = 15
