script = '''
square = \v
    v * v

match = \v
    x = 2
    v + x is
       	3
            y = 4
            v + y
        4
           	z = v + x + 5
           	z | square
        5
           	w = 6
           	w2 = 7
           	x + w + w2

"result is {1 | match}, {2 | match} and {3 | match}"
'''

[output]
result = "result is 5, 81 and 15"
type = "string"

[output.compiler]
bytecode = "[35, 6, 115, 113, 117, 97, 114, 101, 1, 0, 111, 35, 5, 109, 97, 116, 99, 104, 1, 0, 125, 36, 4, 109, 97, 105, 110, 37, 0, 1, 21, 0, 37, 1, 1, 21, 1, 28, 10, 114, 101, 115, 117, 108, 116, 32, 105, 115, 32, 27, 0, 0, 0, 1, 39, 1, 0, 1, 5, 109, 97, 116, 99, 104, 14, 28, 2, 44, 32, 14, 27, 0, 0, 0, 2, 39, 1, 0, 1, 5, 109, 97, 116, 99, 104, 14, 28, 5, 32, 97, 110, 100, 32, 14, 27, 0, 0, 0, 3, 39, 1, 0, 1, 5, 109, 97, 116, 99, 104, 14, 38, 36, 6, 115, 113, 117, 97, 114, 101, 20, 0, 20, 0, 3, 38, 36, 5, 109, 97, 116, 99, 104, 27, 0, 0, 0, 2, 21, 1, 20, 0, 20, 1, 0, 21, 2, 20, 2, 27, 0, 0, 0, 3, 17, 44, 0, 15, 27, 0, 0, 0, 4, 21, 2, 20, 0, 20, 2, 0, 42, 0, 73, 20, 2, 27, 0, 0, 0, 4, 17, 44, 0, 29, 20, 0, 20, 1, 0, 27, 0, 0, 0, 5, 0, 21, 2, 20, 2, 39, 1, 1, 0, 6, 115, 113, 117, 97, 114, 101, 42, 0, 33, 20, 2, 27, 0, 0, 0, 5, 17, 44, 0, 22, 27, 0, 0, 0, 6, 21, 2, 27, 0, 0, 0, 7, 21, 3, 20, 1, 20, 2, 0, 20, 3, 0, 38]"
bytecode_length = 246
disassembled = """
0 \tfunction signature (name: square) (local count: 1) (function position: 111)
11 \tfunction signature (name: match) (local count: 1) (function position: 125)

21 \t=== function chunk: main ===
27 \tfunction (function index: 0) (params: 1)
30 \tset_value (index: 0)
32 \tfunction (function index: 1) (params: 1)
35 \tset_value (index: 1)
37 \tpush_string (value: 'result is ')
49 \tpush_integer (value: 1)
54 \tcall match (is_global: 0) (arg count: 1, function index: 1)
64 \tstr_concat
65 \tpush_string (value: ', ')
69 \tstr_concat
70 \tpush_integer (value: 2)
75 \tcall match (is_global: 0) (arg count: 1, function index: 1)
85 \tstr_concat
86 \tpush_string (value: ' and ')
93 \tstr_concat
94 \tpush_integer (value: 3)
99 \tcall match (is_global: 0) (arg count: 1, function index: 1)
109 \tstr_concat
110 \tret

111 \t=== function chunk: square ===
119 \tget_value (index: 0)
121 \tget_value (index: 0)
123 \tint_mult
124 \tret

125 \t=== function chunk: match ===
132 \tpush_integer (value: 2)
137 \tset_value (index: 1)
139 \tget_value (index: 0)
141 \tget_value (index: 1)
143 \tint_add
144 \tset_value (index: 2)
146 \tget_value (index: 2)
148 \tpush_integer (value: 3)
153 \teq
154 \tjump if false (offset: 15, to byte 172)
157 \tpush_integer (value: 4)
162 \tset_value (index: 2)
164 \tget_value (index: 0)
166 \tget_value (index: 2)
168 \tint_add
169 \tjump (offset: 73, to byte 245)
172 \tget_value (index: 2)
174 \tpush_integer (value: 4)
179 \teq
180 \tjump if false (offset: 29, to byte 212)
183 \tget_value (index: 0)
185 \tget_value (index: 1)
187 \tint_add
188 \tpush_integer (value: 5)
193 \tint_add
194 \tset_value (index: 2)
196 \tget_value (index: 2)
198 \tcall square (is_global: 1) (arg count: 1, function index: 0)
209 \tjump (offset: 33, to byte 245)
212 \tget_value (index: 2)
214 \tpush_integer (value: 5)
219 \teq
220 \tjump if false (offset: 22, to byte 245)
223 \tpush_integer (value: 6)
228 \tset_value (index: 2)
230 \tpush_integer (value: 7)
235 \tset_value (index: 3)
237 \tget_value (index: 1)
239 \tget_value (index: 2)
241 \tint_add
242 \tget_value (index: 3)
244 \tint_add
245 \tret
"""

[output.vm]
bytes_read = 324
instructions_executed = 97
jumps_performed = 5
max_stack_height = 9
stack_allocations = 68
