script = '''
count_down = \v
	v is
		_ if v > 0
			("count down: {v}") | log # Works with parenthesis, not without
			(v - 1) | count_down
		_
			v

3 | count_down
'''

[output]
result = "0"
type = "integer"

[output.compiler]
bytecode = "[0, 37, 10, 99, 111, 117, 110, 116, 95, 100, 111, 119, 110, 1, 0, 48, 38, 4, 109, 97, 105, 110, 39, 0, 1, 21, 0, 29, 0, 0, 0, 3, 41, 1, 0, 0, 10, 99, 111, 117, 110, 116, 95, 100, 111, 119, 110, 40, 38, 10, 99, 111, 117, 110, 116, 95, 100, 111, 119, 110, 20, 0, 29, 0, 0, 0, 0, 6, 19, 46, 0, 44, 30, 12, 99, 111, 117, 110, 116, 32, 100, 111, 119, 110, 58, 32, 20, 0, 14, 50, 20, 0, 29, 0, 0, 0, 1, 1, 41, 1, 1, 0, 10, 99, 111, 117, 110, 116, 95, 100, 111, 119, 110, 44, 0, 2, 20, 0, 40]"
bytecode_length = 119
disassembled = """
0 \tComponent Count: 0
1 \tfunction signature (name: count_down) (local count: 1) (function position: 48)

16 \t=== function chunk: main ===
22 \tfunction (function index: 0) (params: 1)
25 \tset_value (index: 0)
27 \tpush_integer (value: 3)
32 \tcall count_down (is_global: 0) (arg count: 1, function index: 0)
47 \tret

48 \t=== function chunk: count_down ===
60 \tget_value (index: 0)
62 \tpush_integer (value: 0)
67 \tint_lte
68 \tnot
69 \tjump if false (offset: 44, to byte 116)
72 \tpush_string (value: 'count down: ')
86 \tget_value (index: 0)
88 \tstr_concat
89 \tlog
90 \tget_value (index: 0)
92 \tpush_integer (value: 1)
97 \tint_sub
98 \tcall count_down (is_global: 1) (arg count: 1, function index: 0)
113 \tjump (offset: 2, to byte 118)
116 \tget_value (index: 0)
118 \tret
"""

[output.vm]
bytes_read = 283
instructions_executed = 62
jumps_performed = 4
max_stack_height = 10
stack_allocations = 42
