script = '''
count_down = \v
	v is
		_ if v > 0
			("count down: {v}") | log # Works with parenthesis, not without
			(v - 1) | count_down
		_
			v

3 | count_down
'''

[output]
result = "0"
type = "integer"

[output.compiler]
bytecode = "[35, 10, 99, 111, 117, 110, 116, 95, 100, 111, 119, 110, 1, 0, 47, 36, 4, 109, 97, 105, 110, 37, 0, 1, 21, 0, 27, 0, 0, 0, 3, 39, 1, 0, 0, 10, 99, 111, 117, 110, 116, 95, 100, 111, 119, 110, 38, 36, 10, 99, 111, 117, 110, 116, 95, 100, 111, 119, 110, 20, 0, 27, 0, 0, 0, 0, 6, 19, 44, 0, 44, 28, 12, 99, 111, 117, 110, 116, 32, 100, 111, 119, 110, 58, 32, 20, 0, 14, 48, 20, 0, 27, 0, 0, 0, 1, 1, 39, 1, 1, 0, 10, 99, 111, 117, 110, 116, 95, 100, 111, 119, 110, 42, 0, 2, 20, 0, 38]"
bytecode_length = 118
disassembled = """
0 \tfunction signature (name: count_down) (local count: 1) (function position: 47)

15 \t=== function chunk: main ===
21 \tfunction (function index: 0) (params: 1)
24 \tset_value (index: 0)
26 \tpush_integer (value: 3)
31 \tcall count_down (is_global: 0) (arg count: 1, function index: 0)
46 \tret

47 \t=== function chunk: count_down ===
59 \tget_value (index: 0)
61 \tpush_integer (value: 0)
66 \tint_lte
67 \tnot
68 \tjump if false (offset: 44, to byte 115)
71 \tpush_string (value: 'count down: ')
85 \tget_value (index: 0)
87 \tstr_concat
88 \tlog
89 \tget_value (index: 0)
91 \tpush_integer (value: 1)
96 \tint_sub
97 \tcall count_down (is_global: 1) (arg count: 1, function index: 0)
112 \tjump (offset: 2, to byte 117)
115 \tget_value (index: 0)
117 \tret
"""

[output.vm]
bytes_read = 282
instructions_executed = 62
jumps_performed = 4
max_stack_height = 10
stack_allocations = 42
