script = '''
match = \v
    x = 3
    v + x is
        4
            y = 5
            x + y + v

"result is {1 | match}"
'''

[output]
result = "result is 9"
type = "string"

[output.compiler]
bytecode = "[0, 37, 5, 109, 97, 116, 99, 104, 1, 0, 51, 38, 4, 109, 97, 105, 110, 39, 0, 1, 21, 0, 30, 10, 114, 101, 115, 117, 108, 116, 32, 105, 115, 32, 29, 0, 0, 0, 1, 41, 1, 0, 0, 5, 109, 97, 116, 99, 104, 14, 40, 38, 5, 109, 97, 116, 99, 104, 29, 0, 0, 0, 3, 21, 1, 20, 0, 20, 1, 0, 21, 2, 20, 2, 29, 0, 0, 0, 4, 17, 46, 0, 15, 29, 0, 0, 0, 5, 21, 2, 20, 1, 20, 2, 0, 20, 0, 0, 40]"
bytecode_length = 99
disassembled = """
0 \tComponent Count: 0
1 \tfunction signature (name: match) (local count: 1) (function position: 51)

11 \t=== function chunk: main ===
17 \tfunction (function index: 0) (params: 1)
20 \tset_value (index: 0)
22 \tpush_string (value: 'result is ')
34 \tpush_integer (value: 1)
39 \tcall match (is_global: 0) (arg count: 1, function index: 0)
49 \tstr_concat
50 \tret

51 \t=== function chunk: match ===
58 \tpush_integer (value: 3)
63 \tset_value (index: 1)
65 \tget_value (index: 0)
67 \tget_value (index: 1)
69 \tint_add
70 \tset_value (index: 2)
72 \tget_value (index: 2)
74 \tpush_integer (value: 4)
79 \teq
80 \tjump if false (offset: 15, to byte 98)
83 \tpush_integer (value: 5)
88 \tset_value (index: 2)
90 \tget_value (index: 1)
92 \tget_value (index: 2)
94 \tint_add
95 \tget_value (index: 0)
97 \tint_add
98 \tret
"""

[output.vm]
bytes_read = 100
instructions_executed = 27
jumps_performed = 0
max_stack_height = 7
stack_allocations = 19
