script = '''
match = \tag
	tag is
		:red
			"the color is red"
		:yellow
			"the color is yellow"
		_
			"no match"
:blue | match | log
:red | match | log
:yellow | match | log
'''

[output]
result = "the color is yellow"
type = "string"

[output.compiler]
bytecode = "[0, 37, 5, 109, 97, 116, 99, 104, 1, 0, 78, 38, 4, 109, 97, 105, 110, 39, 0, 1, 21, 0, 33, 5, 58, 98, 108, 117, 101, 41, 1, 0, 0, 5, 109, 97, 116, 99, 104, 50, 33, 4, 58, 114, 101, 100, 41, 1, 0, 0, 5, 109, 97, 116, 99, 104, 50, 33, 7, 58, 121, 101, 108, 108, 111, 119, 41, 1, 0, 0, 5, 109, 97, 116, 99, 104, 50, 40, 38, 5, 109, 97, 116, 99, 104, 20, 0, 33, 4, 58, 114, 101, 100, 17, 46, 0, 21, 30, 16, 116, 104, 101, 32, 99, 111, 108, 111, 114, 32, 105, 115, 32, 114, 101, 100, 44, 0, 49, 20, 0, 33, 7, 58, 121, 101, 108, 108, 111, 119, 17, 46, 0, 24, 30, 19, 116, 104, 101, 32, 99, 111, 108, 111, 114, 32, 105, 115, 32, 121, 101, 108, 108, 111, 119, 44, 0, 10, 30, 8, 110, 111, 32, 109, 97, 116, 99, 104, 40]"
bytecode_length = 168
disassembled = """
0 \tComponent Count: 0
1 \tfunction signature (name: match) (local count: 1) (function position: 78)

11 \t=== function chunk: main ===
17 \tfunction (function index: 0) (params: 1)
20 \tset_value (index: 0)
22 \tpush_simple_tag (value: ':blue')
29 \tcall match (is_global: 0) (arg count: 1, function index: 0)
39 \tlog
40 \tpush_simple_tag (value: ':red')
46 \tcall match (is_global: 0) (arg count: 1, function index: 0)
56 \tlog
57 \tpush_simple_tag (value: ':yellow')
66 \tcall match (is_global: 0) (arg count: 1, function index: 0)
76 \tlog
77 \tret

78 \t=== function chunk: match ===
85 \tget_value (index: 0)
87 \tpush_simple_tag (value: ':red')
93 \teq
94 \tjump if false (offset: 21, to byte 118)
97 \tpush_string (value: 'the color is red')
115 \tjump (offset: 49, to byte 167)
118 \tget_value (index: 0)
120 \tpush_simple_tag (value: ':yellow')
129 \teq
130 \tjump if false (offset: 24, to byte 157)
133 \tpush_string (value: 'the color is yellow')
154 \tjump (offset: 10, to byte 167)
157 \tpush_string (value: 'no match')
167 \tret
"""

[output.vm]
bytes_read = 224
instructions_executed = 44
jumps_performed = 5
max_stack_height = 6
stack_allocations = 26
